/* Estilos globales */
*
{
  box-sizing: border-box;
  font-weight: bold;
}

body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 
{
  text-align: center;
  margin-top: 20px;
}

header 
{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #218838;
}

header > a 
{
  text-decoration: none;
  color: white;
}

.logo 
{
  font-size: 1.5rem;
}

.logo > a 
{
  text-decoration: none;
  color: white;
}

#barra-busqueda 
{
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 250px;
}

nav
{
  color: white;
}

.carrito 
{
  font-size: 1rem;
  color: white;
}

li
{
  list-style: none;
}

/* Seccion productos */
.seccion-productos 
{
  padding: 20px;
}

.contenedor-productos
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.card-producto 
{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  padding: 10px;
}

.card-producto img 
{
  width: 130px;
  border-radius: 5px;
  height: 115px;
}

.card-producto h3 
{
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-producto p 
{
  font-size: 1rem;
  color: #333;
}

.card-producto button
{
  background-color: #218838;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Seccion carrito */
.seccion-carrito 
{
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
}

#lista-productos
{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  gap: 20px;
}

.nombre-item, .info-carrito 
{
  font-size: 20px;
}

.hidden 
{
  display: none;
}

.visible 
{
  display: block;
}

.total-carrito 
{
  font-size: 1.2rem;
  text-align: right;
}

.card-producto .boton-eliminar
{
  color: white;
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

.boton-vaciar-carrito
{
  color: white;
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

.contenedor-botones
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

}

.boton-ordenar-nombres, .boton-ordenar-precios
{
  color: white;
  background-color: rgb(23, 142, 221);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#texto-items-carrito
{
  text-align: center;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}